body{
    margin: 0px !important;
    padding: 0px !important;
    background-color: rgb(240, 240, 240) !important;
}

a:hover{
    text-decoration: none !important;
}
.row {
    margin: 0 auto;
    padding-top: 15px;
    margin-left: -15;
    margin-right: -15px;
    
}
.mt-5 {
    font-size: 18px;
    color: #ff0147;
    font-weight: bold;
    margin-bottom: 3px;
}

.form-login-card {
    border: none;
    border-radius: 10px solid !important;
    width: 420px !important;
    margin: auto;
    padding-top: 50px;
    font-size: 16px !important;
    margin: auto;
    min-height: 100%;    
    background-color: #fff;
}

.signup {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 10px 50px;
}

.login-input {
    border: 1px solid #dc354575;
    border-radius: 30px !important;
    letter-spacing: 1px;
    margin-top: 25px;
    border: 1px solid #dc354575;
    border-radius: 30px !important;
    background-color: rgba(0, 0, 0, 0.075) !important;
    letter-spacing: 1px !important;
}

.login-input:focus {
    border: 0.5px solid #dc354575;
    border-radius: 30px;
    box-shadow: none;
    color: #000;
    letter-spacing: 1px;
}

.text-left {
    color: rgba(0, 0, 0, 0.3);
    font-weight: 400;
}

.text-right {
    color: #ff0147;
    font-weight: bold;
    font-size: 16px;
}

span.text-center {
    color: rgba(0, 0, 0, 0.3);
}

.fab {
    padding: 15px;
    font-size: 23px;
}

.fa-facebook {
    color: #0303d9bf;
    width: 100%;
    height: 100%;
}

.fa-twitter {
    color: #0078fade;
}

.fa-linkedin {
    color: #18b1c0;
}

// btn login
.btnLogin {
    width: 100%;
    border-radius: 30px;
    border: none;
    background: linear-gradient(to right, rgba(249, 0, 104, 1) 0%, rgba(247, 117, 24, 1) 100%);
    line-height: 40px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-top: 25px;
}
.text-center {
    margin-top: 15px;
}
